<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traffic.server.mapper.DistrictMapper">
    <!--<select id="selectByPid" resultType="com.traffic.server.service.impl.Provinces">-->
        <!--select * from district where pid = #{pid}-->
    <!--</select>-->
</mapper>